/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Montserrat:wght@300;400;700&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');


html {
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    color: #5b5e6d;
    padding-top: 65px; 
    margin-left: 10px;
    margin-right: 10px;
}

button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    box-sizing: content-box;
}

.signin {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.signin * {
    height: 50px;
    margin: 5px;
}

.signin input {
    font: inherit;
    padding: 0;
}

.signin button {
    background-color: #192592;
    color: white;
    border: #192592 2px solid;
}

.cta {
    text-align: center;
}

.cta a {
    color: #192592;
}

li {
    list-style: none;
}

/* Navbar */
nav {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 60px;
}

nav img {
    height: 50px;
}

nav ul {
    display: none
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

header br {
    display: block;
    content: "";
    border-bottom: 10px solid transparent; 
}

header img {
    text-align: center;
}

/* Main Section */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F3F4;
    margin:0;
}

main .good-company {
    margin-top: 60px;
    text-align: center;
}

main button {
    background-color: white;
    color: #192592;
    border: 1px solid #192592;
    width: 90%;
    font-weight: bold;
    margin-bottom: 20px
}

main .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .images img {
    max-width: 200px;
    padding: 40px;
}

main .images .solid {
    height:1px; 
    width: 90%; 
    border-width:0; 
    background-color:lightgray;
}

.try-for-free {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    width: 100%;
    margin-top: 20px;
}

.try-for-free .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    width: 100%;
}

/* Footer */

footer img {
    height: 40px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
}

.footer-nav ul li:first-child {
    color:rgb(80, 78, 78);
    font-weight: bold;
}

.footer-nav ul {
    flex-basis: 33%;
    margin: 5px;
    padding: 0;
    line-height: 30px;
}

/* Last Footer */
.last-footer {
    font-size: 0.8rem;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F3F4;
    margin:0;
}

.last-footer .list {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    align-items: center;
    padding: 0;
}

    .list li {
        flex-basis: 33%;
        text-align: center;
    }

.last-footer .lang {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    align-items: center;
}

    .lang * {
        margin-right: 20px;
    }

.last-footer .social-media {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social-media * {
        margin-right: 20px;
    }

@media only screen and (min-width: 768px) {
    /* nav ul {
        display: block;
    } */

    .signin {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
    }

    main button {
        width: 40%;
    }

    main .images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .try-for-free {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }

    .try-for-free div {
        flex-basis: 50%;
    }

    .try-for-free .text * {
        margin:0;
        text-align: left;
    }

    .try-for-free .text {
        align-items: flex-start;
        margin-left: 20px;
    }

    .footer-nav {
        justify-content: space-around;
    }

    .footer-nav ul {
        flex-basis: 20%;
    }

    .last-footer {
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .last-footer .list {
        flex-basis: 50%;
        justify-content: flex-start;
    }

    .last-footer .lang {
        flex-basis: 25%;
        justify-content: flex-end;
    }

    .last-footer .social-media {
        flex-basis: 5%;
    }
}